<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walker.milestone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountType"
            android:exported="true" />
        <activity android:name=".CreateUser" />
        <activity android:name=".ChooseVice" />
        <activity android:name=".activity_supporter_login" />
        <activity android:name=".ChooseUser" />
        <activity android:name=".UserCalendar" />
        <activity android:name=".SupporterCalendar" />
        <activity android:name=".Home" />
        <activity android:name=".UserSupporters" />
        <activity android:name=".UserSettings" />
        <activity android:name=".UserResources" />
        <activity android:name=".SupporterHome" />
        <activity android:name=".SupporterSettings" />
        <activity android:name=".UserMilestones"></activity>
    </application>

</manifest>